<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body class="container-fluid bgBleu">
    <div class="row maxWidth bgBlanc ">
        <header class="maxW">

            <!--Necessaire au bon fonctionnement de Bootstrap-->
            <nav class="navbar col-12 navbar-expand-lg navbar-light ">
                <div class="logo"> <img src="imgs/Position_Logo_Horizontal_Colors.svg" class="img-fluid" alt=""></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 align-items-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Qui sommes-nous ? <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active selected">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Réalisations</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item active ">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item  bgOrange d-flex connexBtn ml-lg-4">
                            <img src="imgs/icon.svg" class="img-fluid" alt="">
                            <a class="nav-link cWhite " href="#">Mon compte</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="topImg " class="col-12 text-center">
                <img class="img-fluid negativMargin" src="imgs/topImg.png" alt="">
            </div>

        </header>
    </div>
    <div class="row">
        <main class=" col-12 maxW pstPdg"> 
            <div class ="intro row mt-5 overlined">
                <div class=" col-12 col-lg-6 ">
                    <h1 class="titre">Nos meilleurs talents pour votre réussite.</h1>
                </div>
                <div class=" col-12 col-lg-6 ">
                    <p class="mt-3 corps">Tandis que les technologies changent, que de nouveaux acteurs réinventent l’expérience du service, les attentes des utilisateurs se démultiplient. Comment y répondre ? Nous voulons relever avec vous ce challenge</p>
                </div>
            </div>
            <div class="row services mt-5">
                <div class="col-12  ">
                    <h3>Nos services</h3>
                </div>
                <ul id="app" class="col-12 row mx-auto d-flex justify-content-between">
                        <service v-for="service in services" :srcimg="service.imgSrc" categorie="Service" :service="service.Service" ></service>
                        <service v-for="service in services" :srcimg="service.imgSrc" categorie="Service" :service="service.Service" ></service>
                </ul>
                
                
            </div>
            <div class="histoire">
                <p class="corpsG mrgSpe pdSpe "><b>Chez Positions, nous pensons que chaque marque est unique. C’est pourquoi nous nous attachons à comprendre votre histoire, votre ADN, votre environnement et vos objectifs, afin de construire un récit à la fois spécifique et juste.</b></p>
                <p class="corps mrgSpe pdbSpe">Un positionnement ne s’invente pas. Pour exprimer une identité à la fois cohérente et différenciante, nous nous attachons à faire ressortir des valeurs, une vision, un engagement, tout en répondant à <a  class="cOrange" href="">vos objectifs et vos enjeux.</a> Nous partons toujours de ce que vous êtes, pour vous emmener dans une direction cohérente. Dans cette phase de branding, nous utilisons différents modèles de planning stratégique complémentaires</p>
            </div>
        </main>
    </div>
    <div class="row bgBlanc">
        <footer class="col-12 maxW py-5 row d-flex align-items-center">
            <div class="col-6"> <h2><b>Inscrivez-vous à notre Newsletter</b></h2></div>
            <div class=" ml-auto p-1 text-center bgBleu customForm d-flex">
                <form action="" method="POST">
                    <input class="customInput bgBleu ml-1 " type="email" placeholder="Votre adresse email" name="email" id="">
                    <input type="submit" class=" py-2 px-2 customSubmit bgBlanc cOrange" value="OK">
                </form>
                
                
            </div>
        </footer>
    </div>
   







    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="js/animation.js"></script>
</body>

</html>