/* STYLE TAG */

body{
    height: auto;
    font-family: 'Lato';
}
a:hover{
    color:#FA5C19;
}
/*************/
/*FONT*/
/**/

/* COLOR STYLE*/ 


.bgOrange{
    background-color:#FA5C19 ;
    
}
.cWhite{
    color: white!important;
}
.cOrange{
    color: #FA5C19;
}
.bgBleu{
    background-color: #E4ECF5;
   
}
.bgBlanc{
    background-color: white;
}




/********/

/* POSITIONNEMENT */

.negativMargin{
    margin-bottom: -80px;
}
.pstPdg{
    padding-top: 80px;
}

.pdSpe{
    padding-top: 5%;
}
.pdbSpe{
    padding-bottom: 30%;
}


/********/

/*HOVER EFFECT*/

.item:hover{
   
    border-color: #FA5C19;
    
    transition: 0.5s;
}
.customSubmit:hover{
    color:white;
    transition: 0.5s;
    background-color: #FA5C19;
}
.connexBtn:hover{
    transition: 0.5s;
    background-color: rgb(214, 80, 22) ;

}
/********/

/*HEADER*/

.maxW{
    max-width: 1180px!important;
    
    margin: auto!important;
}

.connexBtn{

    padding:  0.2em 1.5em!important ;
    border-radius: 0.4em;
    transition: 0.5s;

}

.selected{
    position: relative;
    
}
.selected:before{
    content: "";
    position: absolute;
    left    : 30%;
    bottom  : 0;
    height  : 1px;
    width   : 40%;  /* or 100px */
    border-bottom:4px solid #FA5C19;
    border-radius: 1em;
}
/********/

/*MAIN*/
.mainContent{
   
    height: 500px;
    
    z-index: -1;
    
}
.titre{
    font-size: 3em;
}
.corps{
    text-align: start;
    font-size: 1.1em;
}
.overlined{
    position: relative;
    padding-top : 2em;
}
.overlined:before{
    content: "";
    position: absolute;
    left    :1em ;
    top  : 0;
    height  : 1px;
    width   : 15%;  /* or 100px */
    border-bottom:4px solid #FA5C19;
    border-radius: 1em;
    
}
.item{
    border-radius: 1em;
    border-style: solid;
    border-color: rgba(250, 92, 25, 0);
    transition: 0.3s;
}

.corpsG{
    font-size: 1.7em;
}
.histoire{
    
    background-image: url(imgs/pLogo.png);
    background-repeat: no-repeat;
    
    
   
}


/********/


/*FOOTER*/
.customForm{
    border-radius: 0.3em;
    max-width: 50%;
}
.customInput{
    border: none;
    width: 30vw;
    max-width: 87%;
}
.customSubmit{
    transition: 0.3s;
    border : none;
    border-radius: 0.3em;
    
    
   
}

/********/



@media (min-width: 991px) {
    
    .item{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 14.999994%;
        max-width: 14.999994%;
    }
    .mrgSpe{
        margin-left: 34%!important;
        
    }
    
  }