

.maxW{
    max-width: 1180px!important;
    
    margin: auto!important;
}
/* COLOR STYLE */ 
.bgOrange{
    background-color:#FA5C19 ;
    
}
.cWhite{
    color: white!important;
}
.cOrange{
    color: #FA5C19;
}
.bgBleu{
    background-color: #E4ECF5;
   
}
.bgBlanc{
    background-color: white;
}
/********/
.connexBtn{

    padding:  0.2em 1.5em!important ;
    border-radius: 0.4em;
}
.selected{
    position: relative;
    
}
.selected:before{
    content: "";
    position: absolute;
    left    : 30%;
    bottom  : 0;
    height  : 1px;
    width   : 40%;  /* or 100px */
    border-bottom:4px solid #FA5C19;
    border-radius: 1em;
}
.negativMargin{
    margin-bottom: -80px;
}
.pstPdg{
    padding-top: 80px;
}
.mainContent{
   
    height: 500px;
    
    z-index: -1;
    
}
.titre{
    font-size: 3em;
}
.corps{
    text-align: start;
    font-size: 1.1em;
}
.overlined{
    position: relative;
    padding-top : 2em;
}
.overlined:before{
    content: "";
    position: absolute;
    left    :1em ;
    top  : 0;
    height  : 1px;
    width   : 15%;  /* or 100px */
    border-bottom:4px solid #FA5C19;
    border-radius: 1em;
    
}
.item{
    border-radius: 1em;
}
.corpsG{
    font-size: 1.7em;
}
.histoire{
    
    background-image: url(imgs/pLogo.png);
    background-repeat: no-repeat;
    
    
   
}

.pdSpe{
    padding-top: 5%;
}
.pdbSpe{
    padding-bottom: 30%;
}

@media (min-width: 991px) {
    
    .item{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 14.999994%;
        max-width: 14.999994%;
    }
    .mrgSpe{
        margin-left: 34%!important;
        
    }
    
  }